* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: url(leafBackground.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin-top: 10vh;
  text-align: center;
}

input {
  margin-top: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  text-align: center;
  min-height: 5vh;
  width: 50vw;
  background: linear-gradient(to bottom, #a5de95, #34e354);
  border-radius: 25px;
  box-shadow: 10px 10px 8px #888888;
}

form input {
  width: 38%;
  padding: 8px 0;
  border: 0;
  border-bottom: 3px solid #2bba45;
  border-radius: 10px;
  font-size: 18px;
  text-align: center;
}

form input:focus {
  outline: none;
}

button {
  border: 0;
  background: #39fa5d;
  border-radius: 10px;
  margin-top: 10px;
  padding: 6px;
  width: 14%;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.8px;
  color: #000;
}

li {
  font-size: 16px;
  list-style-type: none;
  padding: 10px 0;
  margin: 10px 30px;
  border-radius: 15px;
  background-color: white;
}

div:not(.content) {
  display: inline;
  cursor: pointer;
  float: right;
  margin-right: 5%;
}
